* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;

}

a {
    text-decoration: none;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

body {
    height: 100vh;
    background-color: black;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

body header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body header h1 {
    font-size: 30px;
    color: white;
}

.main-content{
    display: flex;
    justify-content: center;
    background: linear-gradient(rgb(43, 43, 43), rgb(15, 15, 15));
    height: 80vh;
    flex: 1;
}

.main-content-right {
    flex: 2;
    background: linear-gradient(rgb(43, 43, 43), rgb(15, 15, 15));
    height: 80vh;
}

#ol-titles{

}

.expand {

}

.hide {
    display: none;
    visibility: hidden;
}